<ion-header>
  <ion-toolbar>
    <ion-title>
      Imagem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/shapese.jpg"></ion-img>
  <ion-img src="/assets/umbrella.jpg"></ion-img>

</ion-content>
