<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="login">
      <ion-icon name="power"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Três</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Tab Feed</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
