<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" [(ngModel)]="credencial.email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="credencial.password"></ion-input>
  </ion-item>
 
  <!--<p>
    <button ion-button full (click)="login()">Login</button>
  </p>-->
  <ion-button href="#" color="tertiary" expand="block" fill="outline" size="small" (click)="login()">
      <ion-icon name="key"></ion-icon>
    Login

  </ion-button>

  
</ion-content>
